! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2


XTerm*faceName: xft:Meslo LG S for Powerline:style=Regular:pixelsize=15:antialias=true
Xcursor.theme: Adwaita
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!XTerm*SaveLines: 9000
!xterm*borderWidth: 0
!xterm*eightBitInput: false
!XTerm**geometry: 100x40
!XTerm*background:              S_base03
!XTerm*foreground:              S_base0
!XTerm*cursorColor:             S_base1
!XTerm*pointerColorBackground:  S_base01
!XTerm*pointerColorForeground:  S_base1
!XTerm*color0:                  S_base02
!XTerm*color1:                  S_red
!XTerm*color2:                  S_green
!XTerm*color3:                  S_yellow
!XTerm*color4:                  S_blue
!XTerm*color5:                  S_magenta
!XTerm*color6:                  S_cyan
!XTerm*color7:                  S_base2
!! Commented for eslint lines number and rules name visibility
!!XTerm*color8:                  S_base03
!XTerm*color9:                  S_orange
!XTerm*color10:                 S_base01
!XTerm*color11:                 S_base00
!XTerm*color12:                 S_base0
!XTerm*color13:                 S_violet
!XTerm*color14:                 S_base1
!XTerm*color15:                 S_base3
!XTerm*keysym.C-S-Home         : \033[1;6H
!XTerm*keysym.C-S-End          : \033[1;6F
!XTerm*keysym.M-Up             : \033[1;3A
!XTerm*keysym.M-Down           : \033[1;3B
!XTerm*keysym.M-Right          : \033[1;3C
!XTerm*keysym.M-Left           : \033[1;3D
!XTerm*keysym.M-Page_Up        : \033[5;3~
!XTerm*keysym.M-Page_Down      : \033[6;3~
!XTerm*keysym.M-Home           : \033[1;3H
!XTerm*keysym.M-End            : \033[1;3F
!XTerm*keysym.M-S-Up           : \033[1;4A
!XTerm*keysym.M-S-Down         : \033[1;4B
!XTerm*keysym.M-S-Right        : \033[1;4C
!XTerm*keysym.M-S-Left         : \033[1;4D
!XTerm.keysym.M-S-Home         : \033[1;4H
!XTerm.keysym.M-S-End          : \033[1;4F
!XTerm.keysym.M-C-Up           : \033[1;7A
!XTerm.keysym.M-C-Down         : \033[1;7B
!XTerm.keysym.M-C-Right        : \033[1;7C
!XTerm.keysym.M-C-Left         : \033[1;7D
!XTerm.keysym.M-C-Page_Up      : \033[5;7~
!XTerm.keysym.M-C-Page_Down    : \033[6;7~
!XTerm.keysym.M-C-Home         : \033[1;7H
!XTerm.keysym.M-C-End          : \033[1;7F
!XTerm.keysym.M-C-S-Up         : \033[1;8A
!XTerm.keysym.M-C-S-Down       : \033[1;8B
!XTerm.keysym.M-C-S-Right      : \033[1;8C
!XTerm.keysym.M-C-S-Left       : \033[1;8D
!XTerm.keysym.M-C-S-Home       : \033[1;8H
!XTerm.keysym.M-C-S-End        : \033[1;8F
!XTerm.keysym.F4        : xterm &
