"*":
  core:
    autoHideMenuBar: false
    disabledPackages: [
      "es6-javascript"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "5fff7fbf-7995-d75b-de20-3ef82c968e73"
  "language-babel":
    autoIndentJSX: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
